<h1>Tambah Produk Tiket</h1>
<form action="" method="post">
  Name : 
  <br>
  <input type="text" name="name">
  <br>
  Price:<br>
  <input type="text" name="price">
  <br><br>
  Price:<br>
  <input type="date" name="date">
  <br><br>
  <input type="submit" value="Submit">
</form> 