<%- include ../partials/header %>

<body>
    <canvas id="myChart"> </canvas>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: <%- JSON.stringify(data) %>
            // , options: {
            //     scales: {
            //         yAxes: [{
            //             ticks: {
            //                 beginAtZero: true
            //             }
            //         }]
            //     }
            // }
        });
    </script>
</body>

</html>