<%- include ../partials/header %>

<body>
<div class='row'>
<div class="container">
    <div class="col-lg-6">
        id 1 : 'Marathon Event'
    </div>
    <div class="col-lg-6">
        Id 3 : 'Coldplay Concert Event'
    </div>
</div>
    
</div>
    <canvas id="myChart"> </canvas>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: <%- JSON.stringify(data) %>
            // , options: {
            //     scales: {
            //         yAxes: [{
            //             ticks: {
            //                 beginAtZero: true
            //             }
            //         }]
            //     }
            // }
        });
    </script>
</body>

</html>