<div class="container">
<a href="/admin/tickets/add" class="btn btn-primary mt-4 mb-4">Add tickets</a>
<table class="table">
  <thead>
    <th>No</th>
    <th>Ticket</th>
    <th>Price</th> 
    <th>Date</th>
    <th>Options</th>
  </thead>
</table>
</div>